extends section-template.pug 

block content
    .footer-content
        h2 About this site 
        h3 Author: Evan Williams
        h3
            a.pe-4(href="https://www.twitter.com/@angular_evan")
                i.bi.bi-twitter
            a.pe-4(href="https://github.com/m3fawner/")
                i.bi.bi-github 
            a(href="https://www.linkedin.com/in/ewillia/")
                i.bi.bi-linkedin
        h3 Issues?
        p They're bound to happen! #[a(href="https://github.com/m3fawner/webperf-comparison/issues") Please file an issue].