extends section-template.pug

block content
    h1 Web Performance Comparison Tool Result Analyzer
    p.
        This site is a visualization/expansion upon the command line output of the npm module. The content here relies upon the #[code results.json] file.