extends section-template.pug 

block content
    h2 Standard Deviation
    table.table.table-striped
        thead 
            each heading in ['URL', 'Path', 'Metric', 'Standard Deviation', 'Mean']
                th(scope='col') #{heading}
        tbody 
            each row in standardDeviation 
                tr
                    each item in row 
                        td #{item}